ipykernel
dataclasses
pathlib
astrapy
python-dotenv
sentence-transformers
bm25s
markdown
langchain-groq
langchain-core
tiktoken
redis
langchain_aws
langchain-openai
fastapi
uvicorn[standard]
gitpython
apscheduler==3.10.4
streamlit
google-auth


--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.11.0
sentence-transformers
astrapy
bm25s
fastapi
uvicorn[standard]
redis
python-dotenv
langchain-openai
tiktoken
